.bap-loading-state {
  align-items: center;
  background-color: var(--loading-state-bg-color);
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 99999;
}

.bap-loading-state > .content {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
